{% load static i18n %}
{% autoescape off %}
<link rel="stylesheet" href="{% static 'css/email.css' %}">
<div class="email-container">

    <div class="email-header">
        <img src="{{ protocol }}://{{ domain }}{% static 'images/logo-sb.png' %}" alt="{{ site_name }}">
    </div>

    <div class="email-body">
        <h2>{% trans "Réinitialisation de mot de passe" %}</h2>
        <p>
            {% blocktrans %}
            Vous recevez cet email car vous avez demandé une réinitialisation de mot de passe pour votre compte sur {{
            site_name }}.
            {% endblocktrans %}
        </p>

        <div class="email-button">
            <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
                {% trans "Réinitialiser mon mot de passe" %}
            </a>
        </div>

        <p>
            {% trans "Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email. Votre mot de passe
            ne sera pas modifié." %}
        </p>

        <p>
            {% trans "L'équipe" %} {{ site_name }}<br>
            <a href="{{ protocol }}://{{ domain }}">{{ domain }}</a>
        </p>
    </div>
</div>
{% endautoescape %}