{% extends "base.html" %}
{% load crispy_forms_tags i18n%}

{% block content %}
<div class="main-screen">

    <div class="max-w-md w-full space-y-6">

        {% include "base/logo_header.html" %}

        <!-- Messages d'erreur -->
        {% if form.errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            {{ error }}
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        <!-- Formulaire avec Crispy Forms -->
        <div class="main-screen">
            <p class="mb-4">{% trans "Entrez votre adresse email pour recevoir un lien de réinitialisation." %}</p>
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}