{% load static %}

<!-- Lateral left menu -->

<!-- Chip for Home page -->
{% if user.is_authenticated %}
    <a href="{% url 'home' %}" class="round-icon round-icon--rose" title="Tableau de bord">
        <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="24" height="24" 
        viewBox="0 0 24 24" 
        fill="none" 
        stroke="currentColor" 
        stroke-width="2" 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        class="lucide lucide-calendar-check-icon lucide-calendar-check">
        <path d="M8 2v4"/>
        <path d="M16 2v4"/>
        <rect width="18" height="18" x="3" y="4" rx="2"/>
        <path d="M3 10h18"/>
        <path d="m9 16 2 2 4-4"/></svg>
    </a>
{% endif %}


{% if user.is_authenticated %}
<!-- Chip for jackietrade -->
    <a href="{% url 'jackietrade:dashboard' %}" class="round-icon round-icon--rose" title="JackieTrade">
        <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="24" height="24" 
        viewBox="0 0 24 24" 
        fill="none" 
        stroke="currentColor" 
        stroke-width="2" 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        class="lucide lucide-piggy-bank-icon lucide-piggy-bank">
        <path d="M11 17h3v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-3a3.16 3.16 0 0 0 2-2h1a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-1a5 5 0 0 0-2-4V3a4 4 0 0 0-3.2 1.6l-.3.4H11a6 6 0 0 0-6 6v1a5 5 0 0 0 2 4v3a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1z"/>
        <path d="M16 10h.01"/>
        <path d="M2 8v1a2 2 0 0 0 2 2h1"/>
        </svg>
    </a>
{% endif %}

{% if can_access_dictavoix %}
    <a href="{% url 'dictavoix:dashboard' %}" class="round-icon round-icon--rose" title="Dictavoix">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-mic-icon lucide-mic">
            <path d="M12 1a4 4 0 0 0-4 4v6a4 4 0 0 0 8 0V5a4 4 0 0 0-4-4z"/>
            <path d="M19 11a7 7 0 0 1-14 0"/>
            <path d="M12 19v4"/>
            <path d="M8 23h8"/>
        </svg>
    </a>
{% endif %}

{% if can_access_diarylab %}
<!-- Chip for diarylab -->

{% if can_access_escapevault %}
    <a href="{% url 'escapevault:dashboard' %}" class="round-icon round-icon--rose" title="EscapeVault">
        <svg xmlns="http://www.w3.org/2000/svg" 
            width="24" height="24" viewBox="0 0 24 24" 
            fill="none" stroke="currentColor" 
            stroke-width="2" stroke-linecap="round" 
            stroke-linejoin="round" 
            class="lucide lucide-rocket-icon lucide-rocket">
            <path d="M12 15v5s3.03-.55 4-2c1.08-1.62 0-5 0-5"/>
            <path d="M4.5 16.5c-1.5 1.26-2 5-2 5s3.74-.5 5-2c.71-.84.7-2.13-.09-2.91a2.18 2.18 0 0 0-2.91-.09"/>
            <path d="M9 12a22 22 0 0 1 2-3.95A12.88 12.88 0 0 1 22 2c0 2.72-.78 7.5-6 11a22.4 22.4 0 0 1-4 2z"/>
            <path d="M9 12H4s.55-3.03 2-4c1.62-1.08 5 .05 5 .05"/>
        </svg>
    </a>
{% endif %}

{% endif %}