{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% block title %}{{ block.super }}{% endblock %}
{% block content %}   
    
    {% if messages %}
        <div class="mb-4 w-full">
            {% for message in messages %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% include './navbar.html' %}
    <!-- Search form -->
    {% crispy form %}  
 
 
    <div class="overflow-x-auto overflow-y-auto h-[600px] overflow-scroll;">
        <table class="table-content">
            <thead>
                <tr class="tr-header">
                    <th class="th_header" scope="row">État</th>
                    <th class="th_header" scope="row">Durée</th>
                    <th class="th_header" scope="row">Description</th>
                    <th class="th_header" scope="row">Rendez-vous</th>
                    <th class="th_header" scope="row">Catégorie</th>
                    <th class="th_header" scope="row">Qui</th>
                    <th class="th_header" scope="row">Lieu</th>
                    <th class="th_header" scope="row">Fréquence</th>
                    <th class="th_header" scope="row">Planifié</th>
                    <th class="th_header" scope="row">Priorité</th>
                    <th class="th_header" scope="row">Fait</th>
                    <th class="th_header" scope="row">Note</th>
                    <th class="th_header" scope="row">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for memo in memos %}
                <tr id="memo-row-{{ memo.pk }}" >
                    <td class="td_header">{{ memo.get_state_display }}</td>
                    <td class="td_header">{{ memo.duration }}</td>
                    <td class="td_header">{{ memo.description }}</td>
                    <td class="td_header">
                        {{ memo.get_appointment_display|default_if_none:"" }}
                    </td>
                    <td class="td_header">{{ memo.get_category_display }}</td>
                    <td class="td_header">
                        {{ memo.who.all|join:", " }}
                    </td>
                    <td class="td_header">{{ memo.place }}</td>
                    <td class="td_header">{{ memo.get_periodic_display }}</td>
                    <td class="td_header">{{ memo.get_planned_date_display }}</td>
                    <td class="td_header">{{ memo.get_priority_display }}</td>
                    <td class="td_header">{{ memo.get_done_date_display }}</td>
                    <td class="td_header">{{ memo.note }}</td>

                    <td class="action-icons">
                        {% include 'journaling/dashboard-action.html' %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}