{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href='{% static "css/dist/styles.css" %}'' rel="stylesheet">
</head>
<body>
    <div id = "header">
        <span class="logo">SecretBox</span>

        <span class="user">
        nom du user ici
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        {% include "base/footer.html"%}
    </footer>
</body>
</html>