{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}SecretBox{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">  
    {% tailwind_css %}
</head>
<body class="bg-green flex flex-col min-h-screen text-black;">
    <aside class="w-15 p-2 bg-gray-300 space-y-2 text-white">
        {% include 'navbar/navbarg.html' %}
    </aside>
    {% include "base/logo_header.html" %}
    {% include 'navbar/navbar.html' %}
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <footer class="w-full fixed bottom-0 left-0 z-10 bg-stone-800 text-white text-center flex items-center justify-center p-2 shadow-lg;">
        {% include "base/footer.html"%}
    </footer>
</body>
</html>