{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% block title %}{{ block.super }} - JackieTrade{% endblock %}
{% block content %}

    {% if messages %}
        <div class="mb-4 w-full">
            {% for message in messages %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% include './navbar.html' %}


    <div class="watchlist-box">
        <div class="flex justify-between items-center mb-4">
            <select id="watchlist-selector" class="border rounded px-2 py-1">

                {% for watchlist in watchlists %}
                <option
                    value="{{ watchlist.id }}"
                    {% if watchlist == current_watchlist %}
                        selected
                    {% endif %}
                >
                    {{ watchlist.name }}
                </option>
                {% endfor %}
            </select>

            <a href="{% url 'jackietrade:watchlist_create' %}">+</a>
        </div>

        <div class="asset-scroll">
            {% for asset in assets %}
                <div class="asset-row">
                    {{ asset.name }} - {{ asset.sector }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}